/*-----------------------------
** Phone and Accessories Area Start
------------------------------*/
.phone-and-accessories {
  padding: 120px 0px 120px;
  background: red; }
  .phone-and-accessories .img {
    background: url(../../images/aside-img/accessories.jpg); }
